.MuiButton-root { font-size: 1.4em !important; }
.MuiTypography-h4 { font-size: 2.125em !important; }
.MuiTypography-body1 { font-size: #{1 * 1.6}em !important; }
.MuiTypography-body2 { font-size: #{0.875 * 1.6}em !important; }
.MuiTypography-caption { font-size: #{0.75 * 1.6}em !important; }
.Mui-error { font-size: 0.875em !important; }